*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}

.loader{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    pointer-events: none;
    animation: animate 5s linear infinite;
}
/* keyword search: "fancy border radius generator" */
.loader span:nth-child(1){
    border-radius: 55% 45% 70% 30% / 40% 51% 49% 60% ;
    
}
.loader span:nth-child(2){
    animation-direction: reverse;
    border-radius: 55% 45% 53% 47% / 58% 28% 72% 42% ;
}
.loader span:nth-child(3){
    animation-duration: 3s;
    border-radius: 30% 70% 28% 72% / 58% 28% 72% 42% ;
}

.loader h2{
    font-weight: 500;
    color: #fff;
    font-family: consolas, Arial, Helvetica, sans-serif;
}

/* animation xoay vòng tròn */
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}