/* Toast message */
.message{
    font-family: sans-serif;
    max-width: 50vw;
    background-color: #f5f4f6;
    position: fixed;
    right: 0;
    top: 0;
    /* forwards chấm dứt tại điểm này, ko quay lại trạng thái ban đầu */
    animation: slideInLeft ease 0.5s, fadeOut linear 3s 1s forwards;
}

.toast{
    background-color: white;
    border-left: 5px solid;
    display: flex;
    box-shadow: 3px 4px 8px 0 grey;
    border-radius: 3px;
    margin: 30px 15px;
}
.toast__close{
    color: #bab9ba;
    cursor: pointer;
}
.toast__icon,
.toast__close {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast__body{
    flex: 1;
    opacity: 0.8;
}
.toast__title{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
}
.toast__content{
    margin-top: 0;
    color: #888688;
    font-size: 14px;
}

.toast--success{
    border-left-color: #41d159;
}
.toast--success .toast__icon{
    color: #41d159;
}

.toast--info{
    border-left-color: #277aea;
}
.toast--info .toast__icon{
    color: #277aea;
}

.toast--warning{
    border-left-color: #e0a51f;
}
.toast--warning .toast__icon{
    color: #e0a51f;
}

.toast--error{
    border-left-color: #e01f1f;
}

.toast--error .toast__icon{
    color: #e01f1f;
}

@keyframes slideInLeft {
    from{
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to{
        opacity: 0;
    }
}