<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Admin Dashboard</title>
    <link rel="stylesheet" href="./css/admin-dashboard.css" />
  </head>
  <body>
    <div class="container">
        <!-- Left Menu -->
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="aperture-outline"></ion-icon
              ></span>
              <span class="title">Branch Name</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="home-outline"></ion-icon
              ></span>
              <span class="title">Doashboard</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="people-outline"></ion-icon
              ></span>
              <span class="title">Customers</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="chatbubble-ellipses-outline"></ion-icon
              ></span>
              <span class="title">Messages</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="help-circle-outline"></ion-icon
              ></span>
              <span class="title">Help</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="settings-outline"></ion-icon
              ></span>
              <span class="title">Settings</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="lock-open-outline"></ion-icon
              ></span>
              <span class="title">Password</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"
                ><ion-icon name="log-in-outline"></ion-icon
              ></span>
              <span class="title">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- Main -->
      <div class="main">
          <!-- top bar -->
          <div class="topbar">
              <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
              </div>
              <!-- Search -->
              <div class="search">
                  <label>
                      <input type="text" placeholder="Search here"></input>
                      <ion-icon name="search-circle-outline"></ion-icon>
                  </label>
              </div>
              <!-- user -->
              <div class="user">
                  <img src="user.jpg" alt="User Image">
                </div>
          </div>
          <!-- cards -->
          <div class="card-box">
              <div class="card">
                  <div>
                      <div class="card-number">1,504</div>
                      <div class="card-name">Daily Views</div>
                  </div>
                  <div class="card-icon"><ion-icon name="stats-chart-outline"></ion-icon></div>
              </div>
              <div class="card">
                  <div>
                      <div class="card-number">150</div>
                      <div class="card-name">Sales</div>
                  </div>
                  <div class="card-icon"><ion-icon name="cash-outline"></ion-icon></div>
              </div>
              <div class="card">
                  <div>
                      <div class="card-number">80</div>
                      <div class="card-name">Comments</div>
                  </div>
                  <div class="card-icon"><ion-icon name="chatbubbles-outline"></ion-icon></div>
              </div>
              <div class="card">
                  <div>
                      <div class="card-number">$7,896</div>
                      <div class="card-name">Earning</div>
                  </div>
                  <div class="card-icon"><ion-icon name="earth-outline"></ion-icon></div>
              </div>
          </div>

          <!-- Order Details list -->
          <div class="details">
              <div class="recent-orders">
                  <div class="card-header">
                      <h2>Recent Orders</h2>
                      <a href="#" class="btn">View All</a>
                  </div>
                  <table>
                      <thead>
                          <tr>
                              <td>Name</td>
                              <td>Price</td>
                              <td>Payment</td>
                              <td>Status</td>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Star Refrigerator</td>
                              <td>$1200</td>
                              <td>Paid</td>
                              <td><span class="status delivered">Delivered</span></td>
                          </tr>
                          <tr>
                            <td>Star Refrigerator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <script>
      // add hovered class in selected list item
      let list = document.querySelectorAll(".navigation li");
      function activeLink() {
        list.forEach((item) => {
          item.classList.remove("hovered");
          this.classList.add("hovered");
        });
      }
      list.forEach((item) => {
        item.addEventListener("mouseover", activeLink);
      });

    //   Menu toggle
    let toggle = document.querySelector('.toggle');
    let navigation = document.querySelector('.navigation');
    let main = document.querySelector('.main');

    toggle.onclick = function(){
        navigation.classList.toggle('active');
        main.classList.toggle('active');
    }
    </script>
  </body>
</html>
