<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons template</title>
    <link rel="stylesheet" href="./css/button.css">
</head>
<body>
    <div class="card">
        <!-- Có 3 thẻ phổ thông có thể sử dụng cho thẻ button: div, a, button -->
        <div class="btn btn--susscess btn--size-small">Go to next approval</div>
        <div class="btn btn--warning">OK</div>
        <div class="btn btn--error btn--disable btn--size-large">Try again</div>
    </div>
</body>
</html>