<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Glassmorphism card hover effects</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/card-hover.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="content">
                <h2>01</h2>
                <h3>Card One</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, exercitationem veniam aut expedita quas atque quasi consectetur mollitia, quaerat debitis saepe in sit. Magnam tempora in corrupti voluptates facilis. Autem?</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>02</h2>
                <h3>Card Two</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, exercitationem veniam aut expedita quas atque quasi consectetur mollitia, quaerat debitis saepe in sit. Magnam tempora in corrupti voluptates facilis. Autem?</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>03</h2>
                <h3>Card Three</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, exercitationem veniam aut expedita quas atque quasi consectetur mollitia, quaerat debitis saepe in sit. Magnam tempora in corrupti voluptates facilis. Autem?</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <!-- https://micku7zu.github.io/vanilla-tilt.js/ -->
        <script type="text/javascript" src="./js/vanilla-tilt.js"></script>
        <script type="text/javascript">
            VanillaTilt.init(document.querySelectorAll(".card"), {
                max: 25,
                speed: 400,
                glare: true, //thêm hiệu ứng chói khi nghiêng
                "max-glare": 0.5
            });
        </script>
    </div>
    
</body>
</html>