<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glowing Tubelight Text</title>
    <link rel="stylesheet" href="./css/glowing-text.css">
</head>
<body>
    <div class="glowing-text">
        <input class="light-input" type="text">
    </div>
    <div class="glowing-text-2">
        <!-- contenteditable enable input fied -->
        <h2 class="light-h" contenteditable="true"></h2>
    </div>
</body>
</html>