<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ribbon template - Xử lý tam giác trong CSS</title>
    <link rel="stylesheet" href="./css/ribbon.css">
</head>
<body>
    <!-- Cách làm tam giác trong box -->
    <!-- Sử dụng border để lấy tam giác -->
    <div class="box"></div>
    
    <!-- Box ribbon - đơn giản -->
    <div class="ribbon-simple"></div>
    <!-- Box ribbon - đơn giản có box-shadow -->
    <div class="ribbon-simple-boxshadow"></div>
    <!-- Box ribbon xử lý box-shadow -->
    <div class="ribbon-shadow"></div>
    <!-- Box ribbon xử lý viền -->
    <div class="ribbon-border"></div>
</body>
</html>