<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gradient Loader Ring Animation</title>
    <link rel="stylesheet" href="./css/ring-gradient.css">
  </head>
  <body>
    <div class="loader">
        <!-- Nếu nhiều span thì màu sẽ đậm hơn vì nhiều phần tử chồng nhau -->
      <span></span>
      <span></span>
      <span></span>
    </div>
  </body>
</html>
