<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toast message</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="./css/toast-message.css">
</head>
<body>
    <div class="message">
        <!-- success -->
        <div class="toast toast--success">
            <div class="toast__icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="toast__body">
                <p class="toast__title">Susscess</p>
                <p class="toast__content">Máy vi tính kết nối ...</p>
            </div>
            <div class="toast__close">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <!-- Info -->
        <div class="toast toast--info">
            <div class="toast__icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="toast__body">
                <p class="toast__title">Information</p>
                <p class="toast__content">Máy vi tính</p>
            </div>
            <div class="toast__close">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <!-- Warning -->
        <div class="toast toast--warning">
            <div class="toast__icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="toast__body">
                <p class="toast__title">Warning</p>
                <p class="toast__content">Máy vi tính kết nối ...Máy vi tính kết nối ...Máy vi tính kết nối ...Máy vi tính kết nối ...Máy vi tính kết nối ...</p>
            </div>
            <div class="toast__close">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <!-- Warning -->
        <div class="toast toast--error">
            <div class="toast__icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="toast__body">
                <p class="toast__title">Error</p>
                <p class="toast__content">Máy vi tính kết nối ...</p>
            </div>
            <div class="toast__close">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>
    </body>
</html>